# pnpm
.pnpm*
!.pnpm/patches
!.pnpm/releases
!.pnpm/plugins
!.pnpm/sdks
!.pnpm/versions
/node_modules

# testing
/coverage
report.json

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
pnpm-debug.log*
pnpm-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# vercel
.vercel

# trunk
.trunk

# turborepo
.turbo

public/sitemap*
public/robots*

.pnp*
.yarn
